[
    {
        molecule: "protein_centered"
        representation: "hyperball"
        color: "red"
        sele: "ACTIVE_RESIDUES"
    }
    {
        molecule: "protein_centered"
        representation: "cartoon"
        color: "red"
        sele: "ACTIVE_RESIDUES"
    }
    {
        molecule: "protein_centered"
        representation: "ribbon"
        color: "green"
        sele: ":A"
    }
    {
        molecule: "rna"
        representation: "hyperball"
    }
    {
        molecule: "protein_centered"
        representation: "ribbon"
        color: "blue"
        sele: ":B"
    }
]